<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".common.MultimediaApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_multimedia"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyCarApps"
        tools:targetApi="31">
<!--        <activity-->
<!--            android:name=".FullscreenMainActivity"-->
<!--            android:configChanges="orientation|keyboardHidden|screenSize"-->
<!--            android:exported="true"-->
<!--            android:label="@string/title_activity_fullscreen_main"-->
<!--            android:theme="@style/Theme.MyCarApps.Fullscreen">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
        <activity
            android:name=".video.activity.MainVideoActivity"
            android:exported="false"
            android:taskAffinity="three.affinity" />

        <activity-alias
            android:name=".MainVideoActivity"
            android:exported="true"
            android:icon="@mipmap/ic_video_logo"
            android:label="@string/title_activity_video"
            android:targetActivity=".video.activity.MainVideoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".audio.activity.MusicPlayingActivity"
            android:exported="false" />
        <activity
            android:name=".video.activity.VideoPlayingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_video_playing"
            android:theme="@style/Theme.MyCarApps.Fullscreen" />
        <activity
            android:name=".bluetooth.BluetoothHomeActivity"
            android:exported="false"
            android:taskAffinity="four.affinity"
            android:windowSoftInputMode="adjustPan" />

        <activity-alias
            android:name=".BluetoothHomeActivity"
            android:exported="true"
            android:icon="@mipmap/ic_bt"
            android:label="@string/title_activity_bluetooth"
            android:targetActivity=".bluetooth.BluetoothHomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".radio.RadioActivity"
            android:exported="false"
            android:taskAffinity="second.affinity" />

        <activity-alias
            android:name=".RadioActivity"
            android:exported="true"
            android:icon="@mipmap/fm_radio_icon"
            android:label="@string/title_activity_radio"
            android:targetActivity=".radio.RadioActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".equalizer.EqualizerHomeActivity"
            android:exported="false"
            android:taskAffinity="five.affinity" />

        <activity-alias
            android:name=".EqualizerHomeActivity"
            android:exported="true"
            android:icon="@mipmap/eq_logo"
            android:label="@string/title_activity_eq"
            android:targetActivity=".equalizer.EqualizerHomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".audio.activity.MainMusicActivity"
            android:exported="true"
            android:icon="@mipmap/ic_music_logo"
            android:label="@string/title_activity_audio">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>